@import '../../assets/css/mixin.scss';

.sidebar {
  width: 27rem;
  position: fixed;
  top: 6.4rem;
  bottom: 0;
  left: 0;

  background-color: var(--colorWhite);
  @include mobile {
    display: none;
  }
}
