@import 'assets/css/mixin.scss';
body,
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: 1920px;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

html {
  font-size: 62.5% !important;
}

#root {
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
  &-wrapper {
    width: 100%;
    height: 100%;
  }
  &-content {
    width: calc(100% - 27rem);
    height: 100%;
    margin-left: 27rem;
    padding-top: 6.4rem;
    @include mobile {
      margin-left: 0;
      width: 100%;
    }
  }
}
